@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
main {
  margin-left: 290px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 290px;
  height: 100vh;
  background-image: linear-gradient(#5e5fc9, #5ec9c9);
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 70px;
}
.sidebar nav a {
  text-decoration: none;
  color: #eff0f5;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.3s;
  filter: drop-shadow(2px 2px 2px black);
}
.sidebar ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-family: 'open sans', sans-serif;
  font-size: 180%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 35px;
  font-weight: bold;
}
.sidebar li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sidebar img.icons_nav {
  width: 35px;
}
.sidebar img.main_logo {
  border-radius: 50px;
  -webkit-user-drag: none;
  pointer-events: none;
  user-select: none;
}
.sidebar h1.jmeno {
  font-size: 35px;
  font-family: 'open sans', sans-serif;
  color: azure;
  text-align: center;
  font-weight: bolder;
}
li a:hover {
  color: #070707;
  transition: 0.2s;
}
.sidebar li img {
  transition: filter 0.3s;
}

.sidebar li:hover img {
  fill: #dde6ff;
}

.hamburger {
  display: none; /* defaultně skryté na desktopu */
  position: fixed;
  top: 15px;
  left: 15px;
  background: transparent;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 20; /* nad sidebarem */
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* posunutý mimo obrazovku */
    width: 250px;
    height: 100vh;
    background-image: linear-gradient(#5e5fc9, #5ec9c9);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 15;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .sidebar.active {
    left: 0; /* vysunutý viditelně */
  }

  main {
    margin-left: 0; /* na mobilu chceš hlavní obsah přes celou šířku */
    padding: 20px;
  }
}
